<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DistSystemDatabase" connectionString="Data Source=POBEDA;Initial Catalog=DistributionSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
	<appSettings>
		<add key="AverageErrorSeverityAccessoryFunctionPoints" value="1 1,5|1,5 2,5 3,5 4|3,5 5"/>
		<add key="1dayErrorsAmountAccessoryFunctionPoints" value="1 8|5 12 17 22|17 22"/>
	</appSettings>
</configuration>